.body {
    margin: 20px;
}

.landingPage {
    position: relative;
    height: 100vh;
}

.landingPage__title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landingPage__boardList {
    position: absolute;
    top: 35%;
    left: 15%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.column-rename-form {
    padding: 9px 0px 5px 0px;
    display: "flex";
    overflow: "auto";
    width: "95%";
}
.column-name {
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}
.column-gap {
    margin-right: 8px
}