*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

.landingPage {
    min-height: 100vh;
}

.landingPage__title {
    font-size: 2rem;
}

.landingPage__addButton {
    height: 8rem;
    line-height: 8rem;  
    width: 8rem;  
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid #ff8d58;
    color: #ff8d58;
    text-align: center;
    text-decoration: none;

}

.boardList__button {
    min-width: 20rem;
}
.gradientButton {
    background: linear-gradient(to right, #11998e, #38ef7d)
}

.boardList__button__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;

}