*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

.container {
    padding:30px;
}

.addButton__link {
    text-decoration: none;
    color: #ff8d58;
    font-size: 1.2rem;
}
.boardList__button__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}

.MuiDialog-paper {
    height: 60%;
}