*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    margin: 2rem;
    box-sizing: border-box;
}

.landingPage {
    height: 100%
}

.landingPage__title {
    top: 25%;
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
}
.landingPage__add {
    text-align: center;
    margin: 5rem;
}

.landingPage__add a {
    text-decoration: none;
    background-color: #fff;
    color: #777;
    border: 2px solid #777;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    transition: all .2s;
    font-size: 1.6rem;
}

.landingPage__boardList {
    font-size: 1.5rem;
    text-align: center;
}

.landingPage__boardList__boardButton {
    margin: 1.5rem;
}

.btn--gray a{
    background-color: #777;
    color: #fff;
}

.btn:link a,
.btn:visited a {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
}

.boardPage {
    height: 100%
}

.boardPage__title {
    top: 25%;
    text-align: center;
    font-size: 2rem;
}